:root{
  --dark-background-500: #1c1c1c;
  --dark-background-600: #181818;
  --grdient-main-transparent-dark: linear-gradient(145deg, rgba(16, 1, 41, 0.897), rgba(43, 7, 40, 0.877));
  --grdient-main-transparent: linear-gradient(145deg, rgba(16, 1, 41, 0.842), rgba(204, 17, 188, 0.767));
  --grdient-main: linear-gradient(145deg, #72f, #c1b);
}
::selection{
  background-color: #ff3399;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', sans-serif!important;
  /* background-color: var(--dark-background-500);  */
  /* background-image: url("/images"); */
  background-image: url("/images/bg.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #ffffff;
  transition: 0.3s;
  
}
/* Add a function to toggle between scale and main view */
body>div{
  overflow: hidden;
  background-image: url("/images/glassy-effect-clicp.png");
  /* scale: 0.9; */
}


a {
  color: inherit;
  text-decoration: none;
}
a::selection{
  color: #ffffff!important;
}

* {
  box-sizing: border-box;
}