.sidenavContainer {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.avatarRound {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #ffffff;
  box-shadow:  5px 5px 7px #3131313b, 
  -5px -5px 7px #0808083d;
  background-color: #2b1631;
}

.sideLinks {
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
}

.sideLinks a {
  width: 100%;
  padding: 20px 50px 20px 70px;
  margin: 2px 0;
  transition: 0.3s!important;
}

.sideLinks a:hover {
  background-color: rgba(255, 255, 255, 0.031);
  transition: 0.3s!important;
}

.active {
  color: #ff3399!important;
  border-left: 6px solid #ff3399!important;
  transition: 0.3s;

}

.sideLinks a {
  font-size: 24.537px;
  font-family: "ProximaNova", sans-serif;
  color: rgba(255, 255, 255, 0.902);
  line-height: 1.2;
  text-align: left;
  /* -moz-transform: matrix( 1.32147664934887,0,0,1.32045465163028,0,0);
  -webkit-transform: matrix( 1.32147664934887,0,0,1.32045465163028,0,0);
  -ms-transform: matrix( 1.32147664934887,0,0,1.32045465163028,0,0); */

}