/* .title{
    font-size: 43.2pt;
} */
.title {
    display: inline-flex;
    font-size: 26px;
    font-family: "ProximaNova", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    border-bottom: 2px solid #ff3399;
  }
  .titleBorder{
      
  }