.row {
    min-height: 100vh !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sidenav {
    width: 20%;

}

.main {
    width: 80%;
    height: 100%;
    min-height: 100vh !important;
    padding: 20px 10px 10px 100px;

}

.centerDiv {
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;
}

.right_side,
.main {
    background-color: rgba(0, 0, 0, 0.39);
    overflow: auto;

}

.left_side,
.row {
    background-color: rgba(0, 0, 0, 0.897);

}

/* For About Page */
.About__content {
    position: relative;
    /* min-height: 100vh; */
    overflow: auto;
}

.About__header {
    display: block;
    width: 80%;
    margin: 35px 0;
    position: relative;
    z-index: 4;
}

.About__header h1 {
    margin: 0;
    padding: 0;
    font-size: 58px !important;
    font-variant-ligatures: normal;
    font-stretch: extra-expanded;
    font-weight: 500;
    text-align: left;
    /* letter-spacing: 1px; */
    transition: 0.7s;
}

.About__header h1 span {
    font-weight: lighter !important;

}

.About__header h3 {
    margin: -2px 5px;
    font-size: 29px !important;
    font-variant-ligatures: normal;
    font-stretch: extra-expanded;
    font-weight: normal;
    color: #ff70b8;
    /* letter-spacing: 5px; */
    transition: 0.7s;
}
.About__header h3::selection {
    color: #ffffff;
}
.About__header p {
    display: inline-block;
    max-width: 500px;
    font-size: 23px;
    color: #ffffff;
    /* font-family: "Product Sans Regular", sans-serif; */
    font-family: "Proxima Nova", sans-serif;
    font-weight: lighter;
    /* font-weight: 300; */
    /* text-align: justify; */
}

.About__header p a,
.About__header p span {
    /* color: #ff70b8;*/
    /* Before */
    /* color: #ff70b8; */
    text-decoration-style: dotted;
    text-decoration: underline;
    text-decoration-color: #ff70b8;
    padding: 4px 3px;

    /* After */
    transition: 0.3s;
}
.About__header p a:hover,
.About__header p span:hover{
    text-decoration-color: #ffffff;
}

.About__callToActionButtons {
    display: flex;
}

.About__callToActionButtons button {
    border: 0;
    padding: 15px 25px;
    margin: 10px;
    font-size: 28px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: lighter;
    color: #ffffff;
    cursor: pointer;
    transition:0.3s;
}
.About__callToActionButtons button:hover{
    transform: scale(1.1);
    transition:0.3s;
}

.About__callToActionButtons a:first-child button {
    background: linear-gradient(180deg, #f08, rgba(240, 26, 255, 0.774));
}
.About__callToActionButtons button:first-child {
    background-color: #ff3399;
}

.About__callToActionButtons button:last-child {
    /* background-color: rgba(51, 51, 51, 0.541); */
    background-color: rgb(35, 42, 63);

}

.About__previousClients {
    padding: 10px 0;
    display: flex;
    color: #ff3399;
}
.About__previousClients_images{
    border-left: 1px solid #ffffff;
    margin: 0 9px;
    height: 39px;

}
.About__previousClients_images img{
    max-width: 150px;
    margin-top: -5px;
    filter: opacity(0.8);
    /* height: 50px; */
}
.About__watermarkImage {
    /* position: absolute; */
    position: fixed;
    /* top: 40px; */
    right: 60px;
    bottom: -60px;
    z-index: 1;
    opacity: 0.25;
}

.About__watermarkImage img {
    width: 100%;
    max-height: auto;
    max-width: 350px;
    max-height: 550px;
}

.pinkDot {
    display: inline-block;
    padding: 1px;
    margin: 0 3px;
    width: 14px !important;
    height: 14px !important;
    border-radius: 50%;
    background-color: #ff3399;
}
.container{
    max-width: 200px;
    /* padding: 10px 50px; */
    margin: 100px auto;
}

.flex{
    display: flex;
}
.flexRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexRow>div{
    width: 30%;
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.flexRow>div:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media only screen and (max-width: 768px) {
    .row {
        position: relative;
    }

    .main {
        width: 100%;
        padding: 20px 10px 10px 30px;

    }
    .flexRow{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flexRow>div{
        width: 90%;
        margin: 10px ;
    }
    .sidenav {
        width: 400px;
        position: absolute;
        background-image: url("/images/glassy-effect-clicp.png");
        display: none;
    }

    .About__header {
        display: block;
        width: 100%;
    }

    .About__header h1 {
        font-size: 48px !important;
    }

    .About__watermarkImage {
        /* bottom: 0px; */
        position: fixed;
        /* display: none; */
        opacity: 0.12;
    }
}